@font-face {
    font-family: SourceCodePro;
    src: url(../polices-fonts/SourceCodePro.ttf);
}

@font-face {
    font-family: impact;
    src: url(../polices-fonts/impact.ttf);
} 

@font-face {
    font-family: mvboli;
    src: url(../polices-fonts/mvboli.ttf);
} 

/* CHARTE GRAPHIQUE */
:root{
    --brun_color: #5B4F41;
    --gris_color: #707070;
    --beige_color: #ECE5E1;
    --font_titre: 'impact';
    --font_corps: 'SourceCodePro';
    --font_sousTitre:'mvboli';
}

/* INITIALISER LA BASE */

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: var(--gris_color);
    font-family: var(--font_corps);
}

body{
    width: 100%;
    text-align: center;
}

/* COULEURS */
.beige-color{
    color: var(--beige_color);
}
.gris-color{
    color: var(--gris_color);
}
.brun-color{
    color: var(--brun_color);
}

/* POLICES */
.font-corps{
    font-family: var(--font_corps);
    font-size: 1.5vw;
}
.font-titre{
    font-family: var(--font_titre);
}
.font-sousTitre{
    font-family: var(--font_sousTitre);
}

/* GENERAL */
/* Flex */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.justifyAround{
    justify-content: space-around;
}
.colonne{
    flex-direction: column;
}

/* alignement */
.center{
    text-align: center;
    margin: auto;
}
.droite{
    text-align: end;
}

.separationBlanc{
width: 100%;
height: 20vh;
}
.separation{
    width: 90%;
    margin: 20px auto;
    border-top: solid var(--gris_color) 2px;
}

.upper{
    text-transform: uppercase;
}
.souligne{
    text-decoration: underline;
}


/* Tabulations */
.tab-05{
    margin-left: -5%;
}
.tab-10{
    margin-left: -10%;
}
.tab-20{
    margin-left: -20%;
}
.tab-30{
    margin-left: -30%;
}
.tab-40{
    margin-left: -40%;
}
.tab30{
    margin-left: 30%;
}

h2{
    font-size: 4.5vw;
    font-weight: lighter;
    margin-bottom: 2vw;
}
h3{
    font-size: 4vw;
    font-weight: lighter;
}
h4{
    font-size: 3vw;
    font-weight: lighter;
}

/* Width */
.taille30{
    width: 30%;
}
.taille40{
    width: 40%;
}
.taille50{
    width: 50%;
}
.taille65{
    width: 65%;
}
.taille95{
    width: 95%;
}
.taille100{
    width: 100%;
}

/* NAVIGATION */
.barre-navigation{
    background-color: var(--brun_color);
    z-index: 10; /*pour que ça reste au premier plan*/
    width: 100%;
    height: 17vh;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: rgb(12,43,39,0.2) 0 4px 14px;
}

/* Logos dans nav*/
.nav-logo {
    height: 7vw;
    width: auto;
}
.nav-icone{
    max-height: 10vh;
    width: auto;
}

/* disposition menu */
.nav-list{
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.nav-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-item{
    font-size: 4vh;
}

.nav-item a:hover{
    color: var(--gris_color);
    transition:.3s;
}

/* HEADER */
header{
    /* padding-top: 5vh; */
}

.logo-header{
    width: 5vw;
    height: auto;
    margin: 1vw auto;
}

/* MAIN */

/* ABOUT ME */
.presentation{
    /*width: 65%;*/
    margin: 1vw auto;
}

.logo-contacts{
    width: 25%;
}
.photoProfil{
    width: 50%;
}
.photo{
    border: var(--brun_color) solid 2vw;
    border-radius: 50%;
    width: 70%;
    height: auto;
    box-shadow: -5px 12px 18px -2px #888888;
}
#logosCVportf{
    width: 25%;
}
.infosContact{
width: 100%;
}
.infoContact{
    border: var(--brun_color) solid 2vw;
    padding: 3vw;
    background-color: var(--beige_color);
    /* width: 30vw; */
    box-shadow: -5px 12px 18px -2px #888888;
    margin: auto;
}
.info{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1vw;
    margin: auto;
}
.bold{
    font-weight: bold;
}
.logo-plus{
    width: 3vw;
    height: auto;
    margin-top: 2.5vw;
    margin-bottom: 0.5vw;
}
.recherche{
    width: 100%;
    margin-top: 7vh;
    /*text-align: center;*/
    font-size: 1.5vw;
}

/* TIMELINE */
.box-timeline{
    width: 100%;
    height: 1500px;
    position: relative;
    padding: 80px 0 250px 0;
    margin-bottom: 100px;
}
.ligne{
    height: 1000px;
    width: 8px;
    margin:0 auto;
    background-color: var(--gris_color);
}
.rond{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--gris_color);
    border: 1px solid black;
    position: absolute;
    /* pour centrer */
    left: 50%;
    transform: translate(-50%);
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
/* 1000px(height .ligne) - 160(taille 1e rond + taille dernier rond) + 80(pading-top) /3(nombre d'espaces entre ronds)*/
.r1{top:80px;}
.r2{top:386px;}
.r3{top:692px;}
.r4{top:1000px;}

.box{
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 3px;
    /* s'ajuste si + de contenu */
    height: auto; 
    background-color: var(--beige_color);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* 270 = taille moitié box +70 pour créer un écart avec la ligne */
/* +270 pour aller à droite de la ligne -270 pour gauche */
.b1{
    top: 80px;
    left: calc(50% - 270px);
}
.b2{
    top: 386px;
    left: calc(50% + 270px);
}
.b3{
    top: 692px;
    left: calc(50% - 270px);
}
.b4{
    top: 1000px;
    left: calc(50% + 270px);
}

.description-timeline{
    text-align: left;
    line-height: 20px;
    margin: 10px 0 20px 0;
}
    /* RESPONSIVE TIMELINE */
    @media screen and (max-width: 1000px) {
        .ligne{
            position: relative;
            left: -200px;
        }
        .rond{
            left: calc(50% - 200px);
        }
        .box{
            left: calc(50% + 50px);
        }
    }

    /* ! ajouter un media query pour moins de 500px */

/* PORTFOLIO */

.projetPorfolio{
    width: 24%;
    height: auto;
    border: var(--beige_color) solid 2vh;
    vertical-align: center;
    background-color: var(--beige_color);
    margin-top: 1vw;

}
.imagePortfolio{
    width:100%;
}

/* FOOTER */
footer{
    margin-bottom: 5vh;
}
.contactMe{
    font-size: 2vw;
    margin-bottom: 10px;
}
.logo-footer{
    max-height: 5vw;
    width: auto;
}





/* MODALS */
    .modalClic{
        border: none;
        background-color: transparent;
    }

    .modalClic:hover{
        cursor: pointer;
        text-decoration: wavy underline;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 20; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 15px;
        width: 85%;
    }
    
    /* The Close Button */
    .close {
        color: var(--gris_color);
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* 
    .barreBrunegauche{
        background-color: var(--brun_color);
        position: relative;
        z-index: 30;
        left: 0;
        top: 0;
        width: 25%; 
        height: 100%; 
    } */
