/* IMPORTATION FONTS */
@font-face {
    font-family: SourceCodePro;
    src: url(../polices-fonts/SourceCodePro.ttf);
}
@font-face {
    font-family: impact;
    src: url(../polices-fonts/impact.ttf);
} 
@font-face {
    font-family: mvboli;
    src: url(../polices-fonts/mvboli.ttf);
} 

/* CHARTE GRAPHIQUE */
:root{
    --brun_color: #5B4F41;
    --gris_color: #707070;
    --beige_color: #ECE5E1;
    --beige_color-transparent:#ece5e1ea;
    --font_titre: 'impact';
    --font_corps: 'SourceCodePro';
    --font_sousTitre:'mvboli';
}

/* INITIALISER LA BASE */
*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: var(--gris_color);
    font-family: var(--font_corps);
}
body{
    width: 100%;
    text-align: center;
}
button{
    border: none;
    background-color: transparent;
}

/* COULEURS */
.beige-color{
    color: var(--beige_color);
}
.gris-color{
    color: var(--gris_color);
}
.brun-color{
    color: var(--brun_color);
}


/* POLICES */
.font-corps{
    font-family: var(--font_corps);
    font-size: 1.5vw;
}
.font-titre{
    font-family: var(--font_titre);
}
.font-sousTitre{
    font-family: var(--font_sousTitre);
}

/* GENERAL */
html {
    scroll-behavior: smooth !important;
}

/* Flex */
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.justifyAround{
    justify-content: space-around;
}
.justifyCenter{
    justify-content: center;
}
/* .alignItemsEnd{
    align-items: flex-end;
} */
.alignItemsStart{
    align-items: flex-start;
}
.colonne{
    flex-direction: column;
}

/* alignement */
.center{
    text-align: center;
    margin: auto;
}
.droite{
    text-align: end;
}
.justifie{
    text-align: justify;
}

/* Position */
.positionRel{
    position: relative;
}
.positionAbs{
    position: absolute;
}

/* Séparations */
.separationBlanc{
width: 100%;
height: 10vw;
}
.separation-ligne{
    width: 90%;
    margin: 20px auto;
    border-top: solid var(--gris_color) 2px;
}

/* Stylisation */
.upper{
    text-transform: uppercase;
}
.souligne{
    text-decoration: underline;
}


/* Tabulations */
.tab-05{
    margin-left: -5%;
}
.tab-10{
    margin-left: -10%;
}
.tab-20{
    margin-left: -20%;
}
.tab-30{
    margin-left: -30%;
}
.tab-40{
    margin-left: -40%;
}
.tab30{
    margin-left: 30%;
}
.tab50{
    margin-left: 50%;
}

/* Titres */
h2{
    font-size: 4.5vw;
    font-weight: lighter;
    margin-bottom: 2vw;
}
h3{
    font-size: 4vw;
    font-weight: lighter;
}
h4{
    font-size: 3vw;
    font-weight: lighter;
}
h5{
    font-size: 2vw;
    font-weight: lighter;
}

/* Width */
.taille15{
    width: 20%;
}
.taille25{
    width: 25%;
}
.taille30{
    width: 30%;
}
.taille35{
    width: 35%;
}
.taille40{
    width: 40%;
}
.taille50{
    width: 50%;
}
.taille65{
    width: 65%;
}
.taille80{
    width: 80%;
}
.taille90{
    width: 90%;
}
.taille95{
    width: 95%;
}
.taille100{
    width: 100%;
}

/* Hauteur */
.haut20{
    height: 20%;
}
.haut70{
    height: 70%;
}
.haut100{
    height: 100%;
}

.max50w{
    max-width: 50%;
}
.max50h{
    max-height: 50%;
}
.indexTop{
    z-index: 9;
}

/* Filtres */
.hidden{
    display: none;
}
.filtres{
    justify-content: center;
}
.filtre-langage{
    border: var(--gris_color) solid 1px;
    /* border-radius: 15px; */
    padding: 10px;
    min-width: 91px;
    /* margin-right: 5px;
    margin-left: 5px; */
    margin-bottom: 10px;
}
.filtre-langage:focus{
    background-color: var(--beige_color);
}


/* NAVIGATION */
.barre-navigation{
    background-color: var(--brun_color);
    z-index: 10; /*pour que ça reste au premier plan*/
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: rgb(12,43,39,0.2) 0 4px 14px;
}

/* Logos dans nav*/
.logo-container{
    position: fixed;
}
.nav-logo {
    height: 7vw;
    width: auto;
}
.nav-icone{
    max-height: 5vw;
    width: auto;
}

/* disposition menu */
.nav-list{
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 7vw;
    justify-content: space-around;
    overflow: hidden;
}
.nav-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-item{
    font-size: 1.6vw;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav-item a:hover{
    color: var(--gris_color);
    transition:.3s;
}

.activeNav{
    color: var(--gris_color);
}

.iconeNav{
    display: none;
}

/* HEADER */
.logo-header{
    width: 5vw;
    height: auto;
    margin: 1vw auto;
}

/* MAIN */

/* ABOUT ME */
.presentation{
    /*width: 65%;*/
    margin: 1vw auto;
}

.logo-contacts{
    width: 25%;
}
.photoProfil{
    width: 50%;
}
.photo{
    border: var(--brun_color) solid 2vw;
    border-radius: 50%;
    width: 70%;
    min-width: 285px;
    height: auto;
    box-shadow: -5px 12px 18px -2px #888888;
}
#logosCVportf{
    width: 25%;
}
.infosContact{
    margin-top: 1.5vw;
    /* margin-bottom: 2.5vw; */
    width: 100%;
}
.infoContact{
    border: var(--brun_color) solid 1.5vw;
    padding: 1.5vw;
    background-color: var(--beige_color);
    box-shadow: -5px 12px 18px -2px #888888;
    margin: auto;
}
.info{
    font-size: 1.2vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1vw;
    margin: auto;
}
.bold{
    font-weight: bold;
}
#DecouvrirPlus{
    margin-top: 3.5vw;
}
.logo-plus{
    width: 3vw;
    height: auto;
    margin-top: 1.5vw;
    margin-bottom: 0.5vw;
}
.recherche{
    width: 100%;
    margin-top: 7vh;
    margin-bottom: 1.5vw;
    /*text-align: center;*/
    /* font-size: 1.5vw; */
}

.corpsTexte{
    font-size: 1.5vw;
}

/* TIMELINE */
.box-timeline{
    width: 100%;
    height: 2200px;
    position: relative;
    padding: 80px 0 50px 0;
    margin-bottom: 100px;
}
.ligne-timeline{
    height: 2000px;
    width: 8px;
    margin:0 auto;
    background-color: var(--gris_color);
}
.rond{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--gris_color);
    border: 1px solid var(--gris_color);
    position: absolute;
    /* pour centrer */
    left: 50%;
    transform: translate(-50%);
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
/* 2000px(height .ligne) - 160(taille 1e rond + taille dernier rond) + 80(pading-top) /7(nombre d'espaces entre ronds) = 274*/
.r1{top:80px;}
.r2{top:calc(80px + 274px * 1);}
.r3{top:calc(80px + 274px * 2);}
.r4{top:calc(80px + 274px * 3);}
.r5{top:calc(80px + 274px * 4);}
.r6{top:calc(80px + 274px * 5);}
.r7{top:calc(80px + 274px * 6);}
.r8{top:2000px;}

.box{
    width: 400px;
    min-height: 120px;
    padding: 20px;
    border-radius: 3px;
    /* s'ajuste si + de contenu */
    height: auto; 
    background-color: var(--beige_color);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

/* 270 = taille moitié box +70 pour créer un écart avec la ligne */
/* +270 pour aller à droite de la ligne -270 pour gauche */
.b1{
    top: 80px;
    left: calc(50% - 270px);
}
.b2{
    top: calc(80px + 274px * 1);
    left: calc(50% + 270px);
}
.b3{
    top: calc(80px + 274px * 2);
    left: calc(50% - 270px);
}
.b4{
    top: calc(80px + 274px * 3);
    left: calc(50% + 270px);
}
.b5{
    top: calc(80px + 274px * 4);
    left: calc(50% - 270px);
}
.b6{
    top: calc(80px + 274px * 5);
    left: calc(50% + 270px);
}
.b7{
    top: calc(80px + 274px * 6);
    left: calc(50% - 270px);
}
.b8{
    top: 2000px;
    left: calc(50% + 270px);
}

.annee-timeline{
    font-size: 28px;
}
.titre-timeline{
    font-size: 15px;
}
.description-timeline{
    text-align: justify;
    line-height: 20px;
    margin: 10px 0 20px 0;
    font-size: 13px;
}
.description-timeline li{
    margin-top: 10px;
}
/* Actif en responsif */
.plusIcone, .moinsIcone{
    font-weight: bolder;
    font-size: 28px;
    display: none;
    transition: all .5s ease-in;
}

    /* RESPONSIVE TIMELINE */
    @media screen and (max-width: 1000px) {
        .ligne-timeline{
            position: relative;
            left: -200px;
        }
        .rond{
            left: calc(50% - 200px);
            width: 60px;
            height: 60px;
            font-size: 30px;
        }
        .box{
            left: calc(50% + 2vw);
            width: 350px;
        }

        /* COLLAPSE TIMELINE */
        /* https://www.youtube.com/watch?v=p8sN0VRWz74 */
        /* https://www.w3schools.com/howto/howto_js_collapsible.asp */
        .accordion{
            width: 100%;
            cursor: pointer;
        }
        .active{
            /* background-color: orange; */
            color: white;
        }
        .plusIcone{
            display: inline;
            position: absolute;
            right: 15px;
            top: 1px;
        }
        .active .moinsIcone{
            display: inline;
            position: absolute;
            right: 15px;
            top: 1px;
        }
        .panelBox{
            padding: 0 15px;
            /* border-left: 1px solid var(--brun_color); */
            margin-left: 25px ;
            font-size: 14px;
            text-align: justify;
            overflow: hidden;
            /* max-height: 300px; */ /*Pour voir/pasVoir le texte*/
            max-height: 0;
            transition: all .5s ease-in;
        }

    }

/* SKILLS */
#skillsSection{
    margin-bottom: 100px;
}
.titre-graphique{
    font-family: var(--font_sousTitre);
    text-align: end;
    font-size: 31px;
}
.skills-outils{
    width: 95vw;
    margin-left:-10%;
    /* background-color: blue; */
}
.box-outils{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    /* border: solid rgb(150, 148, 148) 5px; */
}
.box-graphique{
    margin-top: 10px;
    height: 300px;
}
.liste-outils{
    justify-content: space-between;
    position: absolute;
    left: -74px;
    height: 270px;
    width: 500px;
}
.ligne-outil{
    justify-content: flex-end;
}
.img-graphique{
    width: 25px;
}
.ligne-outil span{
    margin-right: 20px;
    margin-left: 10px;
    max-width: 100px;
    text-align: right;
    text-transform: uppercase;
}
.ligne-graphique-vertical{
    position: absolute;
    right: 260px;
    height: 275px;
    width: 3px;
    background-color: var(--gris_color);
    border-radius: 50%;
}
.ligne-graphique-horizontal{
    position: absolute;
    right: -10px;
    bottom: 20px;
    height: 3px;
    width: 270px;
    background-color: var(--gris_color);
    border-radius: 50%;
}
.bloc-graphique-vide{
    width: 250px;
    height : 35px;
    border: solid var(--gris_color) 3px;
}
.bloc-graphique-plein{
    height : 34px;
    background-color: var(--beige_color);
    
}
.barre-graphique{
    width: 250px;
}
.complet80{
    width: calc(250px / 100 * 80);
}
.complet90{
    width: calc(250px / 100 * 90);
}

/* Responsive SKILLS */
@media screen and (max-width: 1000px) {
    .skills-outils{
        margin-left:0;
    }

    .barre-graphique .taille30{
        width: 30%;
    }
    .barre-graphique .taille40{
        width: 40%;
    }
    .barre-graphique .taille50{
        width: 50%;
    }
    .barre-graphique .taille65{
        width: 65%;
    }
    .barre-graphique .taille80{
        width: 80%;
    }
    .barre-graphique .taille90{
        width: 90%;
    }
    .barre-graphique .taille95{
        width: 95%;
    }
    .barre-graphique .taille100{
        width: 100%;
    }

}

/* PORTFOLIO */
/* miniatures */
.projetPorfolio{
    width: 285px;
    height: auto;
    border: var(--beige_color) solid 13px;
    border-radius: 0.5rem;
    background-color: var(--beige_color);
    margin-top: 10px;
    margin-right: 10px;
}
.imagePortfolio{
    width:100%;
}
.portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    border-radius: 0.5rem;
    overflow: hidden;
}
.portfolio-hover{
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: var(--beige_color-transparent);
    width: 100%;
    height: 100%;
}
.portfolio-hover:hover{
    opacity: 1;
}
.portfolio-hover-contenu{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
.titre-projet{
    width: 100%;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px;
}
.langages-container-mini{
    top: 4.5rem;
    width: 100%;
}
.langageProgra-miniature{
    border: solid 1px var(--gris_color);
    color: var(--gris_color); 
    padding: 7px;
    width: auto;
    min-width: 30%;
    background-color: var(--beige_color);
    font-size: 14px;
}
.see-more-mini{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    width: 100%;
    justify-content: center;
    font-size: 17px;
}
.logo-plus-miniature{
    width: 30px;
    height: auto;
    margin-right: 10px;
}
.corps-projet-mini{
    margin: 10px;
    font-size: 15px;
}



/* FOOTER */
footer{
    margin-bottom: 5vh;
}
.contactMe{
    font-size: 2vw;
    margin-bottom: 10px;
}
.logo-footer{
    max-height: 5vw;
    width: auto;
}


/* MODALS */
.modalClic:hover{
    cursor: pointer;
    font-weight: 900;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 85%;
}

/* The Close Button */
.close {
    color: var(--gris_color);
    float: right;
    font-size: 4vw;
    font-weight: bold;
    margin-right: 1.5vw;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Flèches Modal précédent/Next */
#previousArrow{
    position: absolute;
    left: 25px;
    top: 50%;
    z-index: 20;
}
#nextArrow{
    position: absolute;
    right: 25px;
    top: 50%;
    z-index: 20;
}
#previousArrow:hover, #nextArrow:hover{
    cursor: pointer;
}

#modalDecouvrirPlus .modal-content header .container{
    margin-top: 5vw;
}

.hobbys {
    margin-top: 4.5vw;
}

.hobby{
    text-align: justify;
    margin: 2vw;
    font-size: 1.2vw;
}

.hobby .font-titre{
    font-size: 1.6vw;
}

/* Vidéo */
.video{
    /* margin: 20px auto 80px auto; */
    /* width: auto; */
    max-width: 80%;
    max-height: 100%;
    background-color: transparent;
    text-align: center;
}
.videoKB iframe{
    margin: 20px auto 80px auto;
    border: none;
    border-radius: 10px;
    width:500px;
    height: 300px;
}

.barreBrune{
    background-color: var(--brun_color);
    position: absolute;
    z-index: 30;
    left: 0;
    top: 0;
    width: 25%; 
    height: 100%; 
    border-radius: 15px 0 0 15px;
}

.langageProgra{
    border: solid 1px var(--beige_color);
    color: var(--beige_color);
    margin: 30px auto 0 auto;    
    padding: 10px;
    width: 100%;
}

.portfolio  .modal-content{
    height: 86vh;
    margin: 7vh auto;
}
.portfolioContenu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    margin-left: 30%;
}
.portfolioContenu h2{
    margin-bottom: 0;
}

.barrePortfolioContenu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 15px;
    padding-right: 15px; */
    height: 100%;
    text-align: center;
    margin: auto;
}
.sitesPortfolioContenu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    height: 50%;
}
.langagesPortfolio{
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.videoContenu{
    max-height: 50%;
    width: 100%;
}

/* RESPONSIVE 1000px */
@media screen and (max-width: 1000px) {
    /* Width +20% (max 100%*/
    .taille30{
        width: 50%;
    }
    .taille40{
        width: 60%;
    }
    .taille50{
        width: 70%;
    }
    .taille65{
        width: 85%;
    }
    .taille80{
        width: 100%;
    }
    .taille90{
        width: 100%;
    }
    .taille95{
        width: 100%;
    }
    .taille100{
        width: 100%;
    }
    .haut10{
        height: 100%;
    }

    .recherche{
        font-size: 12px;
    }

    .photo{
        min-width: 100px;
    }
}

/* RESPONSIVE 500px et moins*/
@media screen and (max-width: 500px) {
    /* Taille Texte */
    .corpsTexte{
        font-size: 2.5vw;
    }

    h2{
        font-size: 6.5vw;
    }
    
    /* Menu Nav */
    .nav-link span{
        display: none;
    }
    .nav-item{
        padding: 0;
    }
    .nav-icone{
        max-height: 7vw;
    }
    #aboutMe-title{
        margin-top: 2vh;
    }

    /* Cadre Infos */
    .infoContact{
        width: 50%; /* taille cadre */
    }
    .info{
        font-size: 2.5vw;
    }

/* RESPONSIVE TIMELINE */
    /* .box-timeline{
        padding: 0;
    } */
    .box-timeline{
        margin-bottom: 30px;
    }
    .ligne-timeline{
        position: relative;
        left: -150px;
        width: 5px;
    }
    .rond{
        left: calc(50% - 150px);
        width: 60px;
        height: 60px;
        font-size: 30px;
    }
    .box{
        left: calc(50% + 8vw);
        width: 275px;
        min-height: 100px;
    }
    #myStory{
        margin-bottom: -50px;
    }

    .annee-timeline{
        font-size: 20px;
    }
    .titre-timeline{
        font-size: 12px;
    }

    .panelBox{
        margin-left: 0;
        padding: 0 5px 0 15px;
    }

    /* Skills */
    .skills-outils{
        flex-direction: column;
        padding: 0;
    }
    .box-outils{
        width: 310px;
    }
    .ligne-outil span{
        display: none;
    }
    .liste-outils{
        left: -160px;
    }
    .img-graphique{
        margin-right: 25px;
    }

        /* Modals About Me */
    .modal .recherche{
        text-align: justify;
    }
    .modal .infoContact{
        width: 100%; /* taille cadre */
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .modal .info{
        font-size: 2.6vw;
    }
    .modal .info .font-titre{
        font-size: 3vw;
    }

    /* Décalage container Hobbys */
    .modal .justifyAround{
        justify-content: center;
    }
    .modal .hobby{
        width: 100%;
        font-size: 3.2vw;
        padding: 0;
        margin: 2vw 0;
    }
    .modal .hobby .font-titre{
        font-size: 3.6vw;
        letter-spacing: 2px;
    }
    .videoKB iframe{
        margin: 20px 0 80px 0;
        width: 200px;
        height: 130px;
    }
    .hobbys.container{
        padding: 0;
    }


/* Modals Portfolio */
    /* Vidéo */
    .barreBrune{
        width: 100%; 
        height: 20%; 
        border-radius: 15px 15px 0 0 ;
        /* padding: 50px; */
    }
    .barrePortfolioContenu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        /* padding-left: 15px;
        padding-right: 15px; */
        height: 100%;
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .langagesPortfolio{
        height: 100%;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* padding-left: 15px;
        padding-right: 15px; */
    }
    .langageProgra{
        margin: 0;
    }
    .sitesPortfolioContenu{
        height: 100%;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        margin: auto;
    }
    /* Taille Icones Git et SiteWeb */
    .sitesPortfolioContenu a .taille30{
        width: 30%;
    }
    /* Faire disparaitre le texte en dessous des logos Git et SiteWeb */
    .sitesPortfolioContenu .beige-color{
        display: none;    
    }
    .videoContent{
        max-height: 50%;
        width: 100%;
    }
    .video{
        max-width: 80%;
        max-height: 100%;
        background-color: transparent;
        text-align: center;
    }   

    #previousArrow {
        left: 15px;
        top: 80%;
    }
    #nextArrow {
        right: 15px;
        top: 80%;
    }
    .close{
        color: var(--beige_color);
        font-size: 6vw;
        margin-right: -4.5vw;
        margin-top: -2vh;
    }

    .portfolio  .modal-content{
        height: 86vh;
        margin: 7vh auto;
        padding: 0;
    }
    .portfolioContenu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* padding-left: 15px;
        padding-right: 15px; */
        height: 80%;
        margin: 42% 0 0 0;
    }
    .portfolioContenu h2{
        margin-bottom: 0;
    }
    .portfolioContenu span{
        padding: 20px;
        text-align: start;
    }

}

